################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ARQUITECTURA HEXAGONAL.txt
/Skill
/ParaDokerizar
/ngrok
